
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.principal{
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
  
}
.principal img{
     width: 100%;
     height: 80%;
     opacity:80%;
}

.principal h2{

    text-align: center;
    color: red;
}

.principal h1{

    text-align: center;
    color: #000;
    
}

