<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}

  <!--   <link href="{{MEDIA_URL}}/css/login.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/static/login.css">
  <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

 
 
</head>

<body>

    {% block content %} {% endblock %}


</body>

</html>