{% extends 'core/base2.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} Equipos {% endblock %}</title>
    {% load static %}
   
</head>

<body>
    {% block content %}




    <div id="principal">
        <br>
        <div class="contenedor_peliculas">
            <h2 class="titulo_contenedor_pelicula">Equipos</h2>
            {% for e in equipos %}
            <div class="pelicula">
                {%if e.imagen %}
                <img src="{{e.imagen.url}}" alt="Caratula 1">
                {% else %}
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                {% endif %}
                <a href="#">Ver Equipo</a>

            </div>
            {% endfor %}
            
            

        </div>
        <br>
        <div class="contenedor_peliculas">
            <h2 class="titulo_contenedor_pelicula">Más Equipos</h2>

            <div class="pelicula">
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                <a href="#">Ver Equipo</a>
            </div>
            <div class="pelicula">
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                  <a href="#">Ver Equipo</a>
            </div>
            <div class="pelicula">
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                <a href="#">Ver Equipo</a>
            </div>
            <div class="pelicula">
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                <a href="#">Ver Equipo</a>
            </div>

            <div class="pelicula">
                <img src="/static/img/foto.jpg" alt="Caratula 1">
                <a href="#">Ver Equipo</a>
            </div>
        </div>

    </div>

    

    




    {% endblock %}


</body>

</html>